---

---

<div class="h-screen">
  <h1 class="">Welcome to my docs</h1>
</div>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>

<script>
  window.location.href = "/docs/introduction";
</script>
